.resultsPageCont {
    width: 100%;
}
.resultsHeader {
    padding: 3em 2em;
    display: flex;
    justify-content: space-between;
}
.resultsSubHeader {
    background: #1bb8ec;
    /* background: #ccc; */
    display: flex;
}
.subHeaderBox {
    border-right: .2em solid rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subHeaderBox:nth-last-child() {
    border-right: none;
}
.subHeaderBox h3 {
    color: #fff;
    font-weight: 400;
}
.subHeaderBox h1 {
    color: #fff;
    font-size: 5em;
}
.chartQuestionCont {
    background: #2f3032;
    /* background: #bbb; */
    padding: 5em 0;
    width: 100%;
    text-align: center;
}
.chartQuestionCont h1 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 1em;
}
.chartQuestionCont h3 {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

@media (max-width: 700px) {
    .resultsSubHeader {
        display: flex;
        flex-direction: column;
    }
    .subHeaderBox {
        border-bottom: .2em solid rgba(255, 255, 255, 0.2);
        padding: 1em 0;
        flex-direction: row;
        justify-content: center;
    }
    .subHeaderBox h3 {
        margin-right: 1em;
    }
    .subHeaderBox h1 {
        font-size: 3em;
    }
}