.navDrawerCont {
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
}

.navDrawerCont ul {
    height: 100%;
    width: 100%;
    padding: 1em;
    background: linear-gradient(to bottom right, #ee314a, #e93792);
    box-shadow: 0 0 4em rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navDrawerCont li {
    font-size: 25px;
    color: #fff;
    background: rgba(255,255,255,.2);
    padding: 1em;
    margin: .25em 0;
}

.navDrawerCont li:hover {
    background: rgba(255,255,255,.5);
}

@media (min-width: 701px) {  
    .navDrawerCont {
        display: none;
    }
}