.leaderPageCont {
    width: 100%;
}
.leaderHeader {
    padding: 3em 2em;
}
.leaderContHeader {
    padding: 1em;
    margin: 0 2em;
    border-bottom: solid .1em rgba(0, 0, 0, 0.2);
}
.leaderList {
    margin: 0 8em;
    padding: 0 1em;
}
.alternateBg {
    border-bottom: solid .1em rgba(0, 0, 0, 0.2);
    /* background: #eaeaea; */
}

@media (max-width: 700px) {
    .leaderList {
        margin: 0 2em;
    }
    .leaderHeader {
        text-align: center;
    }
}