
.quizBodyCont {
    background: #fff;
    margin-top: 5em;
    width: 70%;
    padding: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
}

.quizBodyHeader {
    background: #8c8c8d;
    display: flex;
    justify-content: space-between;
}
.quizBodyHeader h2 {
    color: #fff;
}

.quizHeaderTitle {
    padding: .8em;
}

.quizHeaderCounter {
    width: 5em;
    padding: .8em;
    text-align: center;
}

@media (max-width: 700px) {
    .quizHeaderCounter {
        padding: .8em .2em;
    }

}