.questionItemCont {
    padding: .4em;
    border-top: solid .1em rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .questionItemCont:first-child {
    border-top: solid .1em rgba(0, 0, 0, 0.2);
} */
.questionItembtnCont {
    margin-left: .5em;
}
.questionItembtnCont button {
    border-radius: .4em;
    font-weight: 500;
    font-size: .8em;
    padding: .2em .4em;
    margin-left: .2em;
}