.questionItemCont {
    padding: .4em;
    border-top: solid .1em rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questionItembtnCont {
    margin-left: .5em;
}
.questionItembtnCont {
    padding: 0;
    min-width: 4em;
    display: flex;
}
.questionItembtnCont button {
    padding: 0;
    margin-left: .2em;
    width: 2em;
    height: 2em;
}
.questionItemEdit {
    background: #e7e7e7;
    margin: 1em;
    padding: 2em;
}
.questionItemEdit h3 {
    text-align: center;
    margin-bottom: 1em;
}
.questionItemEditBtn {
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {  
    .questionItemEditBtn button{
        width: 100%;
    }
}