.createQuizCont {
    width: 100%;
}
.createQuizHeader {
    padding: 3em 2em;
    border-bottom: solid .1em rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quizzesCont {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.creatorContBtnHolder {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.creatorFormItems {
    display: flex;
    flex-direction: column;
}

@media (max-width: 700px) {  
    .creatorContBtnHolder button {
        width: 100%;
    } 
}