.createQuizCont {
    width: 80%;
}
.createQuizHeader {
    height: 4em;
    margin-bottom: 2em;
    border-bottom: solid .1em rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quizzesCont {
    /* background: red; */
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.creatorCont {
    /* background: lightgreen; */
}
.creatorFormItems {
    display: flex;
    flex-direction: column;
}
.createQuestion {
    background: lightseagreen;
    padding: 2em;
}