.dashPageCont {
    width: 100%;
}
.dashHeader {
    padding: 3em 2em;
}
.dashCont {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
}
.quizCont {
    min-height: 15em;
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.quizBtnCont {
    text-align: center;
    margin-right: 2em;
    width: 30%;
}
.quizList {
    width: 50%;
}


@media (max-width: 700px) {
    .quizCont {
        flex-direction: column;
        align-items: center;
    }
    .quizBtnCont {
        width: 80%;
        margin: 1em 0;
    }
    .quizList {
        width: 80%;
    }
}