.dashPageCont {
    width: 100%;
}
.dashHeader {
    padding: 3em 2em;
}
.dashCont {
    background: linear-gradient(to bottom right, #1bb8ec, #125396);
    height: 100%;
    padding-bottom: 10em;
    display: flex;
    justify-content: center;
}
.quizCont {
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quizBtnCont {
    text-align: center;
    width: 100%;
}
.quizBtnCont button {
    background: rgba(255, 255, 255, 0.9);
    color: #1bb8ec;
    margin-bottom: 3em;
}
.quizBtnCont button:hover {
    background: rgba(255, 255, 255, 1);
}
.quizBtnCont button:active {
    background: rgba(255, 255, 255, 0.7);
}
.quizBtnCont h2 {
    color: #fff;
}
.quizBtnCont p {
    color: #fff;
}
.quizList {
    width: 80%;
}


@media (max-width: 700px) {  
.quizBtnCont button {
    width: 80%;
}
}