.editQuizCont {
    width: 80%;
}
.editQuizHeader {
    height: 4em;
    margin-bottom: 2em;
    border-bottom: solid .1em rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}