body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #fff, #eee);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 2.2em;
  color: #333e48;
  font-weight: 100;
  line-height: 1em;
}
h2 {
  font-size: 1.7em;
  color: #333e48;
  font-weight: 100;
  line-height: 1em;
}
h3 {
  font-size: 1.2em;
  color: #333e48;
  font-weight: 700;
  line-height: 1em;
}
h4 {
  font-size: .8em;
  color: #333e48;
  font-weight: 700;
  line-height: 1.5em;
}
p {
  font-size: .8em;
  color: #333e48;
  font-weight: 400;
  line-height: 1.5em;
}
li {
  font-size: .8em;
  color: #333e48;
  font-weight: 400;
  line-height: 1.2em;
}
button {
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: .9em;
  text-transform: uppercase;
  background: #e93792;
  padding: .7em 1.5em;
  outline: none;
}
button:hover {
  background: #cccccc;
}
button:hover {
  background: #cccccc;
}
button:active {
  background: #a4a4a4;
}
input {
    height: 3em;
    border: .1em solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    color: #333e48;
    text-indent: .5em;
    font-size: .8em;
    font-weight: 500;
}
input::placeholder {
  color: #a2a9ae;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* setting defaults for all pages */
a:link {
  text-decoration: none;
  color: #1bb8ec;
}

a:visited {
  text-decoration: none;
  color: #1bb8ec;
}

a:hover {
  text-decoration: none;
  color: #1195c1;
}

a:active {
  text-decoration: none;
  color: #1bb8ec;
}

hr {
  border: red;
}